body {
  background-color: #000 !important;
}

.cursor {
  cursor: auto;
}

.c-pointer {
  cursor: pointer;
}

.space {
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}
.center{
  display: flex !important;
  align-items: center !important;
}